# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Logs
*.log

# Database
*.db

# Docker
docker-data/

# Alembic
versions/

# OS
.DS_Store
Thumbs.db

!.env.example
